td{
    padding: 30px;
  }



  .container2{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(background.jpeg);
    background-position:center ;
    background-size: cover;
    position: absolute;
}

.form-box2{
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 60px 100px 60px;
    /* text-align: center; */
    

}

/* .center {
    margin-left: auto;
    margin-right: auto;
  } */


h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #3317a4;
    position: relative;
}

h2::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3317a4;
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translate(-50%);
}

.input-field2{
    background: #a8a6d1;
    margin: 10px 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   


}

.btn-field2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    
    

    
}

.btn-field2 button{
    flex-basis:50%;
    width: 500px;
    background: #3c00a0;
    color: #fff;
    height: 45px;
    border-radius: 40px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;
}


.clerButton2 button{
    background-color: #ffffff; 
    border: 2px solid #4c149a;;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 120px;
    width: 120px;
    height: 45px;
    position: relative;

}

.ralign{

    position:absolute; 
    left:105px; 
    top:358px; 
   

}

/* .ralign2{

    position:absolute; 
    right:112px; 
    top:358px; 

} */

.login-clear__DIV2{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 30px;
    position: relative;

   
 
}

table{
    margin-bottom:-5%;
    border-spacing: 10px;
}


.loginButton2 button{
    background-color: #ffffff; 
    border: 2px solid #4c149a;;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 120px;
    width: 120px;
    height: 45px;
    position: relative;

}


